{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
<div class="nav">
    <h2>– LATEST TRANSFERS –</h2>
    <table class="content-nav">
        <thead>
        <tr>
            <td>#</td>
            <td>player</td>
            <td>from</td>
            <td>to</td>
            <td>
                transfer fee, <br/>
                mill. euro
            </td>
            <td>
                transfer fee, <br/>
                mill. euro, <br/>
                by tft.com
            </td>
        </tr>
        </thead>
    </table>
</div>
<div style="height:108px"></div>
<div class="latest-transfers">

    <table class="players">
        <tbody>
        {% for t in transfers %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{t.player.name}}</td>
            <td>{{t.club_old.name}}</td>
            <td>{{t.club_new.name}}</td>
            <td>{{t.price}}</td>
            <td>{{t.price_tft}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta sequi quia eos cupiditate rerum accusantium
        odit enim, expedita, architecto error dignissimos voluptatibus. Nisi illo, maiores fugit amet neque eveniet!</p>
</div>

{% endblock %}